*,
figure,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

* {
    &:focus {
        outline: none;
    }
}

body,
html {
    height: 100%;
    min-height: 100%;
    font-family: $fuenteGlobal;
    @include fuente(16);
}

body {
    overflow-x: hidden; //previene el scroll al margen derecho
    position: relative;
    height: 100%;
    min-height: 100%;
    color: $colorTexto;
}

a {
    color: $colorPrimario;
    text-decoration: none;
}

a:visited {
    color: darken($colorPrimario, 25%);
}

a:active,
a:focus,
a:hover {}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

p {
    margin: .5em 0;
}

#contenedor {
    .contenido {
        max-width: $min-laptop;
        margin: auto;
        min-width: $min-movil;
        padding: 0 .5em;
    }
}
