p 
  | El propósito de este HTML es ayudar a determinar cuáles son las configuraciones predeterminadas con CSS y asegurarse de que todos los Elementos HTML posibles estén incluidos en este HTML para no perder ningún Elemento posible al diseñar un sitio.
hr
h1 Título 1
h2 Título 2
h3 Título 3
h4 Título 4
h5 Título 5
h6 Título 6
hr
h2 Párrafo
p
  | Lorem ipsum dolor sit amet, 
  a(href='#', title='enlace') Test Enlace
  |  adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
p
  | Lorem ipsum dolor sit amet, 
  em emphasis
  |  consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
hr
h2 Tipos de Listas
h3 Definition List
dl
  dt Definition List Title
  dd This is a definition list division.
h3 Ordered List
ol
  li List Item
  li List Item
    ol
      li List Sub item
      li List Sub item
        ol
          li List Sub sub Item
          li List Sub sub Item
          li List Sub sub Item
      li List Sub item 3
  li List Item
h3 Unordered List
ul
  li List Item 1
    ul
      li List Sub item 1
      li List Sub item 2
        ul
          li List Sub sub Item 1
          li List Sub sub Item 2
          li List Sub sub Item 3
      li List Sub item 3
  li List Item 2
  li List Item 3
hr
h2 Formularios
fieldset
  legend Legend
  p
    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.
  form
    h2 Form Element
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.
    p
      label(for='text_field') Text Field:
      br
      input#text_field(type='text')
    p
      label(for='text_area') Text Area:
      br
      textarea#text_area
    p
      label(for='select_element') Select Element:
      br
      select(name='select_element')
        optgroup(label='Option Group 1')
          option(value='1') Option 1
          option(value='2') Option 2
          option(value='3') Option 3
        optgroup(label='Option Group 2')
          option(value='1') Option 1
          option(value='2') Option 2
          option(value='3') Option 3
    p
      label(for='radio_buttons') Radio Buttons:
    div
  div
    input(type='radio', id="radio1", name='radio', value='1', checked='checked')
    label(for='radio1')
      span
        span
      | Opción 1
  div
    input(type='radio', id="radio2", name='radio', value='2')
    label(for='radio2')
      span
        span
      | Opción 2
  div
    input(type='radio', id="radio3", name='radio', value='3')
    label(for='radio3')
      span
        span
      | Opción 3
    p
      label(for='checkboxes') Checkboxes:
    div
  div
    input#checkbox1(type='checkbox', name='checkbox', value='1', checked='checked')
    label(for='checkbox1')
      span
      | Opción 1
  div
    input#checkbox2(type='checkbox', name='checkbox', value='2')
    label(for='checkbox2')
      span
      | Opción 2
  div
    input#checkbox3(type='checkbox', name='checkbox', value='3')
    label(for='checkbox3')
      span
      | Opción 3

    p
      label(for='password') Password:
    p
      input.password(type='password', name='password')
      label.cargar-archivo(for='carga')
        i.fa.fa-cloud-upload
        |  Subir Archivo
      input#carga(type='file')
    p
      input.button(type='reset', value='Clear')
      input.button(type='submit', value='Submit')
    p

hr
h2 Tablas
table(cellspacing='0', cellpadding='0')
  thead
    tr
      th Table Header 1
      th Table Header 2
      th Table Header 3
  tbody
    tr
      td Division 1
      td Division 2
      td Division 3
    tr
      td Division 1
      td Division 2
      td Division 3
    tr
      td Division 1
      td Division 2
      td Division 3
    tr
      td Division 1
      td Division 2
      td Division 3

hr
h2 Varios – abbr, acronym, pre, code, sub, sup, etc.
p
  | Lorem 
  sup superscript
  |  dolor 
  sub subscript
  |  amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. 
  cite cite
  | . Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. 
  acronym(title='National Basketball Association') NBA
  |  Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  
  abbr(title='Avenue') AVE
pre.
blockquote
  p
    | “Esta hoja de estilos va a ayudar mucho.” 
    br
    | -Blockquote
