*,
figure{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5, 
h6 {
    margin: 10px 0;
}
* {
    &:focus {
        outline: none;
    }
}

body,
html {
    height: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden; //previene el scroll al margen derecho
    position: relative;
    height: 100%;
    min-height: 100%;
    @include fuente(16);
}

a {
    text-decoration: none;
}

a:visited {}


a:focus {
    outline: thin dotted;
}
a:active,
a:focus,
a:hover {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

p {
    margin: 10px 0;
}

ul, ol{
    li{
        margin-left:17px;
    }
}