include bloques/comun/var_globales.pug
- var titulo = "Hinit: Starter Template"
doctype html
html.no-js(lang="es")
  head 
    include bloques/comun/head.pug
  body
    include bloques/secciones/home.pug
    footer
        include bloques/comun/footer.pug
  include bloques/comun/scripts.pug