/* ==|====================
   Layout/Main
   ======================= */

#contenedor {
    .contenido {
        max-width: $min-laptop;
        margin: auto;
        min-width: $min-movil;
        padding: 0 .5em;
    }
}
