//mixin para media queries
@mixin from($from){
    @media screen and (min-width:$from){
        @content;
    }
}

@mixin to($to){
    @media screen and (max-width:$to){
        @content;
    }
}

@mixin fromTo($from,$to){
    @media screen and (min-width: $from) and (max-width: ($to) - 1px) {
        @content
    }
}

//Sombras
@mixin sombra($ejeX: 0px,$ejeY: 0px,$blur: 5px,$alfa: 0.5) {
    -moz-box-shadow: $ejeX $ejeY $blur rgba(0,0,0,$alfa);
    box-shadow: $ejeX $ejeY $blur rgba(0,0,0,$alfa);
}


//placeholders
@mixin placeholder($color) {
    input::-webkit-input-placeholder {color:$color}
    input::-moz-placeholder {color:$color}
    input:-ms-input-placeholder {color:$color}
}

//Degradado
@mixin degradado($angulo:0deg,$colorA:$nada,$colorB:$nada,$colorC:$nada, $imagen:$nada) {
    background: -webkit-linear-gradient($angulo,$colorA,$colorB,$colorC)$imagen;
    background: -moz-linear-gradient($angulo,$colorA,$colorB,$colorC)$imagen;
    background: linear-gradient($angulo,$colorA,$colorB,$colorC)$imagen;
}
