// ----------------------
// == Site settings
// ----------------------



// = Colors
// -----------------------------

$gris:#CCCCCC;
$negro:#333333;
$none:transparent;



$blue:#039BE5;
$green:#00C853;
$yellow:#FBC02D;
$red:mix(#b71c1c,indianred);
$silver:#f0f0f0;
$gray:#b3b2b2;

//Overrides bulma
$primary: $blue;
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;


$secondary:$red;

//fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
$family-serif: 'Lato', sans-serif;
$family-primary: $family-serif;

//Break points
$s:320px;
$m:768px;
$l:1280px;
$xl:1920px;



//Path's
$rutaImg:'../images';




