meta(charset="utf-8")
meta(name="theme-color" , content="#3498db")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title #{titulo}
meta(name="description",content="Descripción del sitio")
meta(name="viewport" , content="width=device-width, initial-scale=1, user-scalable=no")
link(type="text/plain" , rel="author" , href="humans.txt")
link(rel="apple-touch-icon" , href= assets + images +  "icono-apple.png")
link(rel="shortcut icon" , href= assets + images + "favicon.png" , type="image/png")
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
link(rel="stylesheet" , href= assets + css + "styles.css?" + v_css)